html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  background-color: black; }

h1 {
  font-family: "Cabin", sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  min-height: 667px; }
  .container .header {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: black; }
    .container .header__background {
      flex: 6;
      background: url("../img/2019-02.jpg") center;
      background-size: cover;
      min-height: 140px; }
    .container .header__data-info {
      flex: 2;
      display: flex; }
      .container .header__data-info__avatar {
        flex: 2;
        display: flex;
        margin-top: -40px;
        justify-content: flex-end; }
        .container .header__data-info__avatar img {
          display: block;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 4px solid white;
          margin-right: 8%; }
      .container .header__data-info__data {
        flex: 4;
        margin-top: -30px; }
        .container .header__data-info__data h1 {
          color: black; }
        .container .header__data-info__data p {
          color: whitesmoke; }
        .container .header__data-info__data h1,
        .container .header__data-info__data p {
          margin-top: 0;
          margin-bottom: 2%; }
  .container .posts {
    flex: 10;
    padding: 0 4%; }
    .container .posts__preview {
      display: flex;
      flex-direction: column;
      margin-bottom: 10%; }
      .container .posts__preview__tags {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        position: relative;
        color: dodgerblue;
        font-size: 0.9em; }
        .container .posts__preview__tags__tag {
          margin: 1% 1%; }
      .container .posts__preview__image {
        flex: 4;
        height: 200px; }
        .container .posts__preview__image a {
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%; }
      .container .posts__preview__info {
        flex: 2; }
        .container .posts__preview__info h3 {
          text-transform: uppercase;
          font-family: "Cabin", sans-serif;
          margin: 1%;
          font-size: 1.3em;
          text-align: center;
          letter-spacing: -1%; }
          .container .posts__preview__info h3 a {
            text-decoration: none;
            color: whitesmoke; }
            .container .posts__preview__info h3 a:hover {
              text-decoration: underline; }
        .container .posts__preview__info span {
          color: gray;
          font-size: 0.8em;
          margin-top: 2%;
          display: block;
          text-align: right;
          padding: 2%; }
        .container .posts__preview__info hr {
          border: 1px solid gray; }
  .container .controls a {
    text-decoration: none;
    display: block;
    width: 40%;
    background-color: firebrick;
    text-align: center;
    color: whitesmoke;
    padding: 4% 4%;
    border-radius: 2%; }
    .container .controls a:hover {
      background-color: #871a1a; }
  .container .controls .next-posts {
    float: right; }
  .container .controls .prev-posts {
    float: left; }
  .container .controls:after {
    content: '';
    display: block;
    clear: both; }
  .container .follow {
    text-align: center;
    margin-top: 8%;
    font-size: 2em; }
    .container .follow a {
      color: whitesmoke;
      display: inline-block;
      padding: 0 4%;
      text-decoration: none; }
  .container .footer {
    flex: 1;
    margin-top: 8%;
    padding: 1% 8%;
    background-color: #333;
    text-align: right;
    font-size: 0.8em; }
  .container .single-post {
    flex: 10;
    padding: 10% 4% 4%; }
    .container .single-post img {
      width: 100%; }

/*# sourceMappingURL=styles.css.map */
