<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Cabin:700|Open+Sans" rel="stylesheet">    <link
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  rel="stylesheet"
/>
  <link href="https://elporfirio.github.io/elporfirio-2019/css/styles.css" rel="stylesheet" />
  <title>elporfirio.com | Gadgets, Desarrollo Web y Gaming</title>
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header__background"></div>
    <div class="header__data-info">
      <div class="header__data-info__avatar">
        <img
          src="https://secure.gravatar.com/avatar/552688e38cc8c229401411ddf36f768d?s=128"
        />
      </div>

      <div class="header__data-info__data">
        <h1>elporfirio.com</h1>
        <p>gadgets, gaming & webdev</p>
      </div>
    </div>
  </div>
  {% if is_blog or is_home %}
    <div class="posts">
      <h2>Recent Posts</h2>
      {% for post in posts %}
        <div class="posts__preview">
          {% if post.photos %}
          <div class="posts__preview__image"
               style="background: url('{{ post.photos[0].width_600 }}') center;
                          background-size: cover;">
            <a title="{{ post.title }}" href="{{ post.url }}">&nbsp;</a>
          </div>
          {% endif %}
        <div class="posts__preview__tags">
          {% for tag in post.tags %}
          <span class="posts__preview__tags__tag">{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="posts__preview__info">
          <h3>{{ post.title|truncate(50) }}</h3>
          <span>{{ post.created_at|format_date }}</span>
          <hr />
        </div>
      </div>
      {% endfor %}
    </div>
    {% if pagination.prev or pagination.next %}
      <div class="controls">
        {% if pagination.prev %}
          <a href="{{ pagination.prev }}" class="prev-posts"><i class="fas fa-angle-double-left"></i> Siguientes</a>
        {% endif %}
        {% if pagination.next %}
          <a href="{{ pagination.next }}" class="next-posts">Anteriores <i class="fas fa-angle-double-right"></i></a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  <div class="follow">
    <a href="https://twitter.com/elporfirio"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/user/elporfirio"><i class="fab fa-youtube"></i></a>
    <a href="https://www.twitch.tv/elporfirio"><i class="fab fa-twitch"></i></a>
    <a href="https://www.instagram.com/elporfirio/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer">
    <p>elporfirio.com 2006-2019</p>
  </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
{% if site.analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</body>
</html>
